<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gopal Singh</title>
    <link rel="icon" type="image/x-icon" href="images\favicon.ico">
</head>
<body>
    <div>
        <section>
            <header>
                <nav>
                    <div>
                        Logo/Title
                    </div>
                    <div>
                        <a href="#about">About</a>
                        <a href="#portfolio">Projects and Portfolio</a>
                        <a href="#skills">Skills</a>
                        <a href="#contact">Contact</a>
                    </div>
                </nav>
                <div>
                    
                </div>
            </header>
            <div></div>
        </section>
    </div>
</body>
</html>